/* line 5, ../../src/scss/styles.scss */
.clear-ideas-gruntfile.smallcode ul ul li code {
  font-size: 16px; }
/* line 6, ../../src/scss/styles.scss */
.clear-ideas-gruntfile.smallcode pre {
  margin-top: 20px;
  margin-left: 100px; }
  /* line 9, ../../src/scss/styles.scss */
  .clear-ideas-gruntfile.smallcode pre code:before {
    margin: 0; }

/* line 14, ../../src/scss/styles.scss */
#contents h2 {
  margin-bottom: 45px; }
/* line 15, ../../src/scss/styles.scss */
#contents .icon-keyboard:before, #contents .icon-laptop:before {
  margin-left: 52px;
  margin-right: -15px; }

/* line 21, ../../src/scss/styles.scss */
.slide h2 {
  font-size: 40px; }

/* line 25, ../../src/scss/styles.scss */
[class^="icon-"] {
  font-family: "Open Sans",sans-serif; }
  /* line 27, ../../src/scss/styles.scss */
  [class^="icon-"]:before {
    font-family: FontAwesome; }

/* line 34, ../../src/scss/styles.scss */
.not-alone ul ul {
  margin-top: 10px;
  margin-left: 30px; }
  /* line 37, ../../src/scss/styles.scss */
  .not-alone ul ul li {
    position: relative;
    margin-left: -60px;
    margin-bottom: 10px; }

/* line 46, ../../src/scss/styles.scss */
.devicons {
  width: 30px;
  height: 30px;
  font-size: 40px;
  display: block-inline;
  margin-left: -45px;
  padding-left: 10px;
  position: relative; }
  /* line 47, ../../src/scss/styles.scss */
  .devicons.devicons-java {
    top: 6px; }
  /* line 50, ../../src/scss/styles.scss */
  .devicons.devicons-php {
    top: 10px; }
  /* line 53, ../../src/scss/styles.scss */
  .devicons.devicons-python {
    top: 10px; }
  /* line 63, ../../src/scss/styles.scss */
  .devicons:before {
    margin-right: 20px; }

/* line 70, ../../src/scss/styles.scss */
a[class|=icon] {
  font-size: 1.3em;
  background: none;
  text-decoration: none;
  width: auto !important; }
  /* line 75, ../../src/scss/styles.scss */
  a[class|=icon]:before {
    margin-right: 10px; }

/* line 79, ../../src/scss/styles.scss */
.clear-ideas.small ol, .clear-ideas.small ul {
  font-size: .9em; }

/* line 86, ../../src/scss/styles.scss */
.no-bullet-list ul > li:before {
  content: ''; }

/* line 92, ../../src/scss/styles.scss */
.section h1 {
  margin-top: 100px;
  font-size: 4em;
  text-align: center; }

/* line 100, ../../src/scss/styles.scss */
h6 {
  color: #ccc;
  position: absolute;
  top: 50px;
  left: 50px; }

@font-face {
  font-family: CHUNKFIVE;
  src: url("/fonts/Chunkfive.otf") format("opentype"); }
@font-face {
  font-family: MOHAVE;
  src: url("/fonts/Mohave.otf") format("opentype"); }
/* line 117, ../../src/scss/styles.scss */
#Cover, #MainCover {
  /*img {
  	position: absolute;
  	top: 150px;
  	left: 100px;
  }
  */ }
  /* line 118, ../../src/scss/styles.scss */
  #Cover, #MainCover {
    background: url("../img/vueling-logo.png") no-repeat scroll right 220px top 340px #FFD245; }
  /* line 121, ../../src/scss/styles.scss */
  #Cover > div, #MainCover > div {
    top: 0; }
  /* line 130, ../../src/scss/styles.scss */
  #Cover h2, #Cover h3, #Cover ul li, #MainCover h2, #MainCover h3, #MainCover ul li {
    color: #453015;
    font-family: "MOHAVE",Helvetica,Arial,sans-serif; }
  /* line 134, ../../src/scss/styles.scss */
  #Cover h2, #MainCover h2 {
    position: absolute;
    top: 140px;
    left: 430px;
    font-size: 4em;
    font-weight: bolder; }
  /* line 141, ../../src/scss/styles.scss */
  #Cover .logos, #MainCover .logos {
    position: absolute;
    top: 0;
    border: 1px solid #CCC;
    background: #FFF;
    height: 260px;
    padding: 20px;
    left: 0;
    height: 100%;
    width: 31%; }
    /* line 152, ../../src/scss/styles.scss */
    #Cover .logos > .box, #MainCover .logos > .box {
      position: absolute;
      top: 210px;
      left: 55px; }
    /* line 157, ../../src/scss/styles.scss */
    #Cover .logos img, #MainCover .logos img {
      margin: 10px; }
    /* line 160, ../../src/scss/styles.scss */
    #Cover .logos img[alt="Jasmine Logo"], #MainCover .logos img[alt="Jasmine Logo"] {
      width: 100px;
      height: 100px; }
    /* line 165, ../../src/scss/styles.scss */
    #Cover .logos img[alt="Javascript Logo"], #MainCover .logos img[alt="Javascript Logo"] {
      width: 100px;
      height: 100px; }
  /* line 170, ../../src/scss/styles.scss */
  #Cover h3, #MainCover h3 {
    position: absolute;
    top: 360px;
    left: 35px;
    font-size: 1.5em;
    width: 28%;
    line-height: 39px;
    text-align: center; }
    /* line 178, ../../src/scss/styles.scss */
    #Cover h3 strong, #MainCover h3 strong {
      font-size: 1.5em; }

/* line 186, ../../src/scss/styles.scss */
#MainCover ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 43px;
  width: 26%;
  line-height: 50px;
  text-align: center;
  background: white;
  height: 100%;
  padding: 50px;
  padding-top: 80px; }
  /* line 199, ../../src/scss/styles.scss */
  #MainCover ul li {
    margin-bottom: 25px; }

/* line 206, ../../src/scss/styles.scss */
#Cover.tdd {
  background: url("../img/vueling-transparent.png") no-repeat scroll right 320px top 305px #4285F4; }
  /* line 209, ../../src/scss/styles.scss */
  #Cover.tdd h2 {
    color: #FFF;
    top: 250px;
    font-size: 2.7em; }

/* line 216, ../../src/scss/styles.scss */
#contents.general ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  /* line 220, ../../src/scss/styles.scss */
  #contents.general ol li {
    display: flex; }

/* line 227, ../../src/scss/styles.scss */
.what blockquote {
  margin-top: 1.2em;
  font-size: 3em; }

/* line 234, ../../src/scss/styles.scss */
.what2 blockquote {
  margin-top: 2em;
  font-size: 2em; }

/* line 241, ../../src/scss/styles.scss */
.what3 blockquote {
  margin-top: 2em;
  font-size: 2em; }
  /* line 242, ../../src/scss/styles.scss */
  .what3 blockquote p {
    line-height: 1.5em; }

/* line 250, ../../src/scss/styles.scss */
.two-columns-list {
  /* The maximum number of items a single column can handle.  If a column has more items than the maximum defined here, some items won't display. */ }
  /* line 256, ../../src/scss/styles.scss */
  .two-columns-list ol {
    position: relative;
    margin: 0 0 50px;
    padding: 0;
    font-size: 16px; }
  /* line 263, ../../src/scss/styles.scss */
  .two-columns-list ol li {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50%;
    list-style-position: inside;
    line-height: 1.5; }
  /* line 273, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+2) {
    top: 1.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 273, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+3) {
    top: 3em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 273, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+4) {
    top: 4.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 273, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+5) {
    top: 6em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 273, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+6) {
    top: 7.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 273, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+7) {
    top: 9em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 273, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+8) {
    top: 10.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 273, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+9) {
    top: 12em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 273, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+10) {
    top: 13.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 279, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+3):nth-last-child(-n+2) {
    position: static;
    margin-left: 50%; }
  /* line 279, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+4):nth-last-child(-n+3) {
    position: static;
    margin-left: 50%; }
  /* line 279, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+5):nth-last-child(-n+4) {
    position: static;
    margin-left: 50%; }
  /* line 279, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+6):nth-last-child(-n+5) {
    position: static;
    margin-left: 50%; }
  /* line 279, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+7):nth-last-child(-n+6) {
    position: static;
    margin-left: 50%; }
  /* line 279, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+8):nth-last-child(-n+7) {
    position: static;
    margin-left: 50%; }
  /* line 279, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+9):nth-last-child(-n+8) {
    position: static;
    margin-left: 50%; }
  /* line 279, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+10):nth-last-child(-n+9) {
    position: static;
    margin-left: 50%; }
  /* line 279, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+11):nth-last-child(-n+10) {
    position: static;
    margin-left: 50%; }

/* line 287, ../../src/scss/styles.scss */
.slide ol, .slide ul {
  margin-bottom: 10px; }
/* line 290, ../../src/scss/styles.scss */
.slide p {
  display: inline; }
/* line 293, ../../src/scss/styles.scss */
.slide {
  background: url("../img/vueling-logo.jpg") no-repeat top 25px right 25px #FFF;
  background-size: 10%; }

/* line 301, ../../src/scss/styles.scss */
.showterm a {
  margin: 0;
  float: right;
  /*		background: none; */ }

/* line 309, ../../src/scss/styles.scss */
.smallcode h2 {
  margin-bottom: 25px; }
/* line 312, ../../src/scss/styles.scss */
.smallcode pre {
  margin-left: 50px; }
  /* line 314, ../../src/scss/styles.scss */
  .smallcode pre code {
    line-height: 1.5;
    font-size: 14px; }
/* line 320, ../../src/scss/styles.scss */
.smallcode.smaller pre code {
  font-size: 12px; }
