/* SPACING */
/* FONTS */
/* COLORS */
/* line 1, ../../src/scss/_atomic-margins-padding.scss */
.pt-n, .pv-n, .pa-n {
  padding-top: 0 !important; }

/* line 2, ../../src/scss/_atomic-margins-padding.scss */
.pt-s, .pv-s, .pa-s {
  padding-top: 0.4em !important; }

/* line 3, ../../src/scss/_atomic-margins-padding.scss */
.pt-m, .pv-m, .pa-m {
  padding-top: 0.8em !important; }

/* line 4, ../../src/scss/_atomic-margins-padding.scss */
.pt-l, .pv-l, .pa-l {
  padding-top: 1.6em !important; }

/* line 5, ../../src/scss/_atomic-margins-padding.scss */
.pt-xl, .pv-xl, .pa-xl {
  padding-top: 3.2em !important; }

/* line 6, ../../src/scss/_atomic-margins-padding.scss */
.pr-n, .ph-n, .pa-n {
  padding-right: 0 !important; }

/* line 7, ../../src/scss/_atomic-margins-padding.scss */
.pr-s, .phs, .pa-s {
  padding-right: 0.4em !important; }

/* line 8, ../../src/scss/_atomic-margins-padding.scss */
.pr-m, .ph-m, .pa-m {
  padding-right: 0.8em !important; }

/* line 9, ../../src/scss/_atomic-margins-padding.scss */
.pr-l, .ph-l, .pa-l {
  padding-right: 1.6em !important; }

/* line 10, ../../src/scss/_atomic-margins-padding.scss */
.pr-xl, .ph-xl, .pa-xl {
  padding-right: 3.2em !important; }

/* line 11, ../../src/scss/_atomic-margins-padding.scss */
.pb-n, .pv-n, .pa-n {
  padding-bottom: 0 !important; }

/* line 12, ../../src/scss/_atomic-margins-padding.scss */
.pb-s, .pv-s, .pa-s {
  padding-bottom: 0.4em !important; }

/* line 13, ../../src/scss/_atomic-margins-padding.scss */
.pb-m, .pv-m, .pa-m {
  padding-bottom: 0.8em !important; }

/* line 14, ../../src/scss/_atomic-margins-padding.scss */
.pb-l, .pv-l, .pa-l {
  padding-bottom: 1.6em !important; }

/* line 15, ../../src/scss/_atomic-margins-padding.scss */
.pb-xl, .pv-xl, .pa-xl {
  padding-bottom: 3.2em !important; }

/* line 16, ../../src/scss/_atomic-margins-padding.scss */
.pl-n, .ph-n, .pa-n {
  padding-left: 0 !important; }

/* line 17, ../../src/scss/_atomic-margins-padding.scss */
.pl-s, .ph-s, .pa-s {
  padding-left: 0.4em !important; }

/* line 18, ../../src/scss/_atomic-margins-padding.scss */
.pl-m, .ph-m, .pa-m {
  padding-left: 0.8em !important; }

/* line 19, ../../src/scss/_atomic-margins-padding.scss */
.pl-l, .ph-l, .pa-l {
  padding-left: 1.6em !important; }

/* line 20, ../../src/scss/_atomic-margins-padding.scss */
.pl-xl, .ph-xl, .pa-xl {
  padding-left: 3.2em !important; }

/* line 21, ../../src/scss/_atomic-margins-padding.scss */
.mt-n, .mv-n, .ma-n {
  margin-top: 0 !important; }

/* line 22, ../../src/scss/_atomic-margins-padding.scss */
.mt-s, .mv-s, .ma-s {
  margin-top: 0.4em !important; }

/* line 23, ../../src/scss/_atomic-margins-padding.scss */
.mt-m, .mv-m, .ma-m {
  margin-top: 0.8em !important; }

/* line 24, ../../src/scss/_atomic-margins-padding.scss */
.mt-l, .mv-l, .ma-l {
  margin-top: 1.6em !important; }

/* line 25, ../../src/scss/_atomic-margins-padding.scss */
.mt-xl, .mv-xl, .ma-xl {
  margin-top: 3.2em !important; }

/* line 26, ../../src/scss/_atomic-margins-padding.scss */
.mr-n, .mh-n, .ma-n {
  margin-right: 0 !important; }

/* line 27, ../../src/scss/_atomic-margins-padding.scss */
.mr-s, .mh-s, .ma-s {
  margin-right: 0.4em !important; }

/* line 28, ../../src/scss/_atomic-margins-padding.scss */
.mr-m, .mh-m, .ma-m {
  margin-right: 0.8em !important; }

/* line 29, ../../src/scss/_atomic-margins-padding.scss */
.mr-l, .mh-l, .ma-l {
  margin-right: 1.6em !important; }

/* line 30, ../../src/scss/_atomic-margins-padding.scss */
.mr-xl, .mh-xl, .ma-xl {
  margin-right: 3.2em !important; }

/* line 31, ../../src/scss/_atomic-margins-padding.scss */
.mb-n, .mv-n, .ma-n {
  margin-bottom: 0 !important; }

/* line 32, ../../src/scss/_atomic-margins-padding.scss */
.mb-s, .mv-s, .ma-s {
  margin-bottom: 0.4em !important; }

/* line 33, ../../src/scss/_atomic-margins-padding.scss */
.mb-m, .mv-m, .ma-m {
  margin-bottom: 0.8em !important; }

/* line 34, ../../src/scss/_atomic-margins-padding.scss */
.mb-l, .mv-l, .ma-l {
  margin-bottom: 1.6em !important; }

/* line 35, ../../src/scss/_atomic-margins-padding.scss */
.mb-xl, .mv-xl, .ma-xl {
  margin-bottom: 3.2em !important; }

/* line 36, ../../src/scss/_atomic-margins-padding.scss */
.ml-n, .mh-n, .ma-n {
  margin-left: 0 !important; }

/* line 37, ../../src/scss/_atomic-margins-padding.scss */
.ml-s, .mh-s, .ma-s {
  margin-left: 0.4em !important; }

/* line 38, ../../src/scss/_atomic-margins-padding.scss */
.ml-m, .mh-m, .ma-m {
  margin-left: 0.8em !important; }

/* line 39, ../../src/scss/_atomic-margins-padding.scss */
.ml-l, .mh-l, .ma-l {
  margin-left: 1.6em !important; }

/* line 40, ../../src/scss/_atomic-margins-padding.scss */
.ml-xl, .mh-xl, .ma-xl {
  margin-left: 3.2em !important; }

/* VARIABLES */
/* line 16, ../../src/scss/styles.scss */
.clear-ideas-gruntfile.smallcode ul ul li code {
  font-size: 16px; }
/* line 17, ../../src/scss/styles.scss */
.clear-ideas-gruntfile.smallcode pre {
  margin-top: 20px;
  margin-left: 100px; }
  /* line 20, ../../src/scss/styles.scss */
  .clear-ideas-gruntfile.smallcode pre code:before {
    margin: 0; }

/* line 25, ../../src/scss/styles.scss */
#contents h2 {
  margin-bottom: 45px; }
/* line 26, ../../src/scss/styles.scss */
#contents .icon-keyboard:before, #contents .icon-laptop:before {
  margin-left: 52px;
  margin-right: -15px; }

/* line 32, ../../src/scss/styles.scss */
.slide h2 {
  font-size: 40px;
  margin-bottom: 20px; }

/* line 37, ../../src/scss/styles.scss */
[class^="icon-"] {
  font-family: "Open Sans",sans-serif; }
  /* line 39, ../../src/scss/styles.scss */
  [class^="icon-"]:before {
    font-family: FontAwesome; }

/* line 46, ../../src/scss/styles.scss */
.not-alone ul ul {
  margin-top: 10px;
  margin-left: 30px; }
  /* line 49, ../../src/scss/styles.scss */
  .not-alone ul ul li {
    position: relative;
    margin-left: -60px;
    margin-bottom: 10px; }

/* line 58, ../../src/scss/styles.scss */
.devicons {
  width: 30px;
  height: 30px;
  font-size: 40px;
  display: block-inline;
  margin-left: -45px;
  padding-left: 10px;
  position: relative; }
  /* line 59, ../../src/scss/styles.scss */
  .devicons.devicons-java {
    top: 6px; }
  /* line 62, ../../src/scss/styles.scss */
  .devicons.devicons-php {
    top: 10px; }
  /* line 65, ../../src/scss/styles.scss */
  .devicons.devicons-python {
    top: 10px; }
  /* line 75, ../../src/scss/styles.scss */
  .devicons:before {
    margin-right: 20px; }

/* line 80, ../../src/scss/styles.scss */
a[class|=icon] {
  font-size: 1.2em;
  background: none;
  text-decoration: none;
  width: auto !important; }
  /* line 85, ../../src/scss/styles.scss */
  a[class|=icon]:before {
    margin-right: 10px; }

/* line 89, ../../src/scss/styles.scss */
.clear-ideas.small ol, .clear-ideas.small ul {
  font-size: .9em; }

/* line 95, ../../src/scss/styles.scss */
.no-bullet-list.slide ul {
  margin-bottom: 50px; }
  /* line 97, ../../src/scss/styles.scss */
  .no-bullet-list.slide ul > li:before {
    content: ''; }
/* line 102, ../../src/scss/styles.scss */
.no-bullet-list.slide.resources ul {
  margin-left: -50px; }
/* line 105, ../../src/scss/styles.scss */
.no-bullet-list.slide.resources a {
  margin-left: -10px; }
/* line 106, ../../src/scss/styles.scss */
.no-bullet-list.slide.resources span {
  margin-left: 60px; }

/* line 112, ../../src/scss/styles.scss */
.section h1 {
  margin-top: 100px;
  font-size: 4em;
  text-align: center; }

/* line 120, ../../src/scss/styles.scss */
h6 {
  color: #ccc;
  position: absolute;
  top: 50px;
  left: 50px; }

@font-face {
  font-family: MOHAVE;
  src: url("Mohave.otf") format("opentype"); }
/* line 132, ../../src/scss/styles.scss */
.coverSession, #MainCover {
  /*img {
  	position: absolute;
  	top: 150px;
  	left: 100px;
  }
  */ }
  /* line 133, ../../src/scss/styles.scss */
  .coverSession, #MainCover {
    background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px #FFD245; }
  /* line 137, ../../src/scss/styles.scss */
  .coverSession > div, #MainCover > div {
    top: 0; }
  /* line 146, ../../src/scss/styles.scss */
  .coverSession h2, .coverSession h3, .coverSession h4, .coverSession ul li, #MainCover h2, #MainCover h3, #MainCover h4, #MainCover ul li {
    color: #453015;
    font-family: "MOHAVE",Helvetica,Arial,sans-serif; }
  /* line 150, ../../src/scss/styles.scss */
  .coverSession h2, #MainCover h2 {
    position: absolute;
    top: 200px;
    left: 430px;
    font-size: 4em;
    font-weight: bolder; }
  /* line 157, ../../src/scss/styles.scss */
  .coverSession .logos, #MainCover .logos {
    position: absolute;
    top: 0;
    border: 1px solid #CCC;
    background: #FFF;
    height: 260px;
    padding: 20px;
    left: 0;
    height: 100%;
    width: 31%; }
    /* line 168, ../../src/scss/styles.scss */
    .coverSession .logos > .box, #MainCover .logos > .box {
      position: absolute;
      top: 210px;
      left: 55px; }
    /* line 173, ../../src/scss/styles.scss */
    .coverSession .logos img, #MainCover .logos img {
      margin: 10px; }
  /* line 177, ../../src/scss/styles.scss */
  .coverSession h3, .coverSession h4, #MainCover h3, #MainCover h4 {
    position: absolute;
    top: 360px;
    left: 35px;
    font-size: 1.5em;
    width: 28%;
    line-height: 39px;
    text-align: center; }
    /* line 185, ../../src/scss/styles.scss */
    .coverSession h3 strong, .coverSession h4 strong, #MainCover h3 strong, #MainCover h4 strong {
      font-size: 1.5em; }

/* line 193, ../../src/scss/styles.scss */
#MainCover ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 43px;
  width: 26%;
  line-height: 50px;
  text-align: center;
  background: white;
  height: 100%;
  padding: 50px;
  padding-top: 50px; }
  /* line 206, ../../src/scss/styles.scss */
  #MainCover ul li {
    margin-bottom: 25px; }

/* line 213, ../../src/scss/styles.scss */
.slide.tdd {
  border-left: 10px solid #34A853; }

/* line 218, ../../src/scss/styles.scss */
.slide.tdd.kata p, .slide.tdd.kata table, .slide.tdd.kata ul {
  font-size: 18px;
  padding: 0;
  display: inline-block; }
/* line 223, ../../src/scss/styles.scss */
.slide.tdd.kata p {
  margin: 0 0 20px; }
/* line 225, ../../src/scss/styles.scss */
.slide.tdd.kata ul li {
  width: 45%;
  padding: 8px 10px;
  float: left;
  margin: 0;
  line-height: 17px;
  clear: right; }

/* line 232, ../../src/scss/styles.scss */
.general ol li {
  text-indent: 0;
  font-size: 20px;
  line-height: 1.8em; }
  /* line 236, ../../src/scss/styles.scss */
  .general ol li span {
    padding: 0 0 0 10px; }

/* line 240, ../../src/scss/styles.scss */
.slide.concepts {
  border-left: 10px solid #EA4335; }

/* line 244, ../../src/scss/styles.scss */
.slide.jquery {
  border-left: 10px solid #0769AD; }

/* line 248, ../../src/scss/styles.scss */
.slide.workflow {
  border-left: 10px solid #F37D0B; }
  /* line 250, ../../src/scss/styles.scss */
  .slide.workflow a[class^="icon-"] {
    margin-left: 2em; }
  /* line 254, ../../src/scss/styles.scss */
  .slide.workflow.exercise span.devicons {
    font-size: 35px; }
    /* line 256, ../../src/scss/styles.scss */
    .slide.workflow.exercise span.devicons:before {
      top: 9px;
      position: relative;
      right: -24px; }

/* line 265, ../../src/scss/styles.scss */
.slide.es2015 {
  border-left: 10px solid #323330; }
  /* line 268, ../../src/scss/styles.scss */
  .slide.es2015.history ul li {
    line-height: 33px;
    font-size: 20px; }
  /* line 273, ../../src/scss/styles.scss */
  .slide.es2015.resources ul li {
    line-height: 35px;
    font-size: 22px;
    margin: 10px 0; }
  /* line 278, ../../src/scss/styles.scss */
  .slide.es2015.resources pre {
    margin-top: 10px; }

/* line 283, ../../src/scss/styles.scss */
.slide.architecture {
  border-left: 10px solid #8266B2; }

/* line 288, ../../src/scss/styles.scss */
.coverSession.tdd {
  background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px #34A853; }
  /* line 290, ../../src/scss/styles.scss */
  .coverSession.tdd img[alt="Jasmine Logo"] {
    width: 100px;
    height: 100px; }
  /* line 295, ../../src/scss/styles.scss */
  .coverSession.tdd img[alt="Javascript Logo"] {
    width: 100px;
    height: 100px; }
/* line 300, ../../src/scss/styles.scss */
.coverSession.concepts {
  background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px #EA4335; }
  /* line 302, ../../src/scss/styles.scss */
  .coverSession.concepts img[alt="Javascript Logo"] {
    margin: -20px 48px;
    height: 150px; }
/* line 309, ../../src/scss/styles.scss */
.coverSession.jquery {
  background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px #0769AD; }
  /* line 311, ../../src/scss/styles.scss */
  .coverSession.jquery img[alt="jQuery Logo"] {
    margin: -20px 48px;
    height: 150px; }
/* line 318, ../../src/scss/styles.scss */
.coverSession.workflow {
  background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px #F37D0B;
  /*   ![npm Logo](img/workflow/npm.svg)
    ![grunt Logo](img/workflow/grunt.png)
    ![bower Logo](img/workflow/bower.png)
    ![yeoman Logo](img/workflow/yeoman.png)
  <d
   */ }
  /* line 327, ../../src/scss/styles.scss */
  .coverSession.workflow img[alt$="logo"] {
    /* margin:-20px 48px; */
    height: 100px;
    float: left; }
  /* line 331, ../../src/scss/styles.scss */
  .coverSession.workflow .box {
    top: 150px; }
  /* line 332, ../../src/scss/styles.scss */
  .coverSession.workflow h3 {
    top: 420px; }
/* line 336, ../../src/scss/styles.scss */
.coverSession.es2015 {
  background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px #323330;
  /*   ![npm Logo](img/workflow/npm.svg)
    ![grunt Logo](img/workflow/grunt.png)
    ![bower Logo](img/workflow/bower.png)
    ![yeoman Logo](img/workflow/yeoman.png)
  <d
   */ }
  /* line 345, ../../src/scss/styles.scss */
  .coverSession.es2015 h2 {
    color: #F5DA55; }
  /* line 346, ../../src/scss/styles.scss */
  .coverSession.es2015 img[alt$="logo"] {
    /* margin:-20px 48px; */
    height: 135px;
    float: left; }
  /* line 350, ../../src/scss/styles.scss */
  .coverSession.es2015 .box {
    top: 220px;
    left: 10px; }
  /* line 351, ../../src/scss/styles.scss */
  .coverSession.es2015 h3 {
    top: 400px; }
  /* line 352, ../../src/scss/styles.scss */
  .coverSession.es2015 h4 {
    top: 460px; }
/* line 355, ../../src/scss/styles.scss */
.coverSession.architecture {
  background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px #8266B2; }
  /* line 358, ../../src/scss/styles.scss */
  .coverSession.architecture img[alt$="logo"] {
    margin: 0; }
  /* line 359, ../../src/scss/styles.scss */
  .coverSession.architecture img[alt="es2015 logo"] {
    width: 250px; }
  /* line 360, ../../src/scss/styles.scss */
  .coverSession.architecture img[alt="babel logo"] {
    width: 185px; }
  /* line 361, ../../src/scss/styles.scss */
  .coverSession.architecture img[alt="webpack logo"] {
    width: 100px; }
  /* line 362, ../../src/scss/styles.scss */
  .coverSession.architecture .box {
    top: 160px;
    left: 30px;
    width: 300px;
    text-align: center; }
  /* line 368, ../../src/scss/styles.scss */
  .coverSession.architecture h3 {
    top: 400px; }
  /* line 369, ../../src/scss/styles.scss */
  .coverSession.architecture h4 {
    top: 460px; }

/* line 376, ../../src/scss/styles.scss */
.general ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  /* line 380, ../../src/scss/styles.scss */
  .general ol li {
    display: flex; }

/* line 386, ../../src/scss/styles.scss */
.what blockquote {
  margin-top: 1.2em;
  font-size: 3em; }

/* line 393, ../../src/scss/styles.scss */
.what2 blockquote {
  margin-top: 2em;
  font-size: 2em; }

/* line 400, ../../src/scss/styles.scss */
.what3 blockquote {
  margin-top: 2em;
  font-size: 2em; }
  /* line 401, ../../src/scss/styles.scss */
  .what3 blockquote p {
    line-height: 1.5em; }

/* line 409, ../../src/scss/styles.scss */
.two-columns-list {
  /* The maximum number of items a single column can handle.  If a column has more items than the maximum defined here, some items won't display. */ }
  /* line 415, ../../src/scss/styles.scss */
  .two-columns-list ol {
    position: relative;
    margin: 0 0 50px;
    padding: 0;
    font-size: 16px; }
  /* line 422, ../../src/scss/styles.scss */
  .two-columns-list ol li {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50%;
    list-style-position: inside;
    line-height: 1.5; }
  /* line 432, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+2) {
    top: 1.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 432, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+3) {
    top: 3em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 432, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+4) {
    top: 4.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 432, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+5) {
    top: 6em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 432, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+6) {
    top: 7.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 432, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+7) {
    top: 9em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 432, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+8) {
    top: 10.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 432, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+9) {
    top: 12em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 432, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+10) {
    top: 13.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 438, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+3):nth-last-child(-n+2) {
    position: static;
    margin-left: 50%; }
  /* line 438, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+4):nth-last-child(-n+3) {
    position: static;
    margin-left: 50%; }
  /* line 438, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+5):nth-last-child(-n+4) {
    position: static;
    margin-left: 50%; }
  /* line 438, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+6):nth-last-child(-n+5) {
    position: static;
    margin-left: 50%; }
  /* line 438, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+7):nth-last-child(-n+6) {
    position: static;
    margin-left: 50%; }
  /* line 438, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+8):nth-last-child(-n+7) {
    position: static;
    margin-left: 50%; }
  /* line 438, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+9):nth-last-child(-n+8) {
    position: static;
    margin-left: 50%; }
  /* line 438, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+10):nth-last-child(-n+9) {
    position: static;
    margin-left: 50%; }
  /* line 438, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+11):nth-last-child(-n+10) {
    position: static;
    margin-left: 50%; }

/* line 446, ../../src/scss/styles.scss */
.slide ol, .slide ul {
  margin-bottom: 10px; }
/* line 449, ../../src/scss/styles.scss */
.slide p {
  display: inline; }
/* line 452, ../../src/scss/styles.scss */
.slide {
  background: url("../img/vueling-in2-top-logo-2.png") no-repeat top 25px right 25px #FFF;
  background-size: 15%; }

/* line 460, ../../src/scss/styles.scss */
.showterm a {
  margin: 0;
  float: right;
  /*		background: none; */ }

/* line 468, ../../src/scss/styles.scss */
.smallcode h2 {
  margin-bottom: 25px; }
/* line 471, ../../src/scss/styles.scss */
.smallcode pre {
  margin-left: 50px; }
  /* line 473, ../../src/scss/styles.scss */
  .smallcode pre code {
    line-height: 1.3;
    font-size: 18px; }
/* line 479, ../../src/scss/styles.scss */
.smallcode.smaller pre code {
  font-size: 12px; }

/* custom fonts */
@font-face {
  font-family: "untitled-font-1";
  src: url("custom-juanma-font.eot");
  src: url("custom-juanma-font.eot?#iefix") format("embedded-opentype"), url("custom-juanma-font.woff") format("woff"), url("custom-juanma-font.ttf") format("truetype"), url("custom-juanma-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  contents: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
/*
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
/* line 529, ../../src/scss/styles.scss */
.icon-pixelovers:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "a"; }

/*
.icon-t-shirt:before {
  content: "b";
}
.icon-home:before {
  content: "c";
}
.icon-fontawesome-webfont:before {
  content: "d";
}
.icon-linkedin:before {
  content: "e";
}
.icon-twitter:before {
  content: "f";
}
.icon-facebook:before {
  content: "g";
}
.icon-google-plus:before {
  content: "h";
}
.icon-letter-mail:before {
  content: "i";
}
*/
/* line 568, ../../src/scss/styles.scss */
.icon-pixelovers-1:before {
  content: "j"; }

/*# sourceMappingURL=styles.css.map */
