@import "__config";
@import "_atomic-margins-padding";

/* VARIABLES */

$color-tdd: #34A853;
$color-advanced-js: #EA4335;
$color-jquery: #0769AD;
$color-workflow: #F37D0B;
$color-es2015: #323330;
$color-es2015-text: #F5DA55;

.clear-ideas-gruntfile.smallcode {
	ul ul li code { font-size:16px; }
	pre {
		margin-top:20px;
		margin-left:100px;
		code:before { margin:0;}
	}
}

#contents {
	h2 { margin-bottom:45px;}
	.icon-keyboard:before, 	.icon-laptop:before {
		margin-left: 52px;
		margin-right: -15px;
	}
}

.slide h2 {
	font-size:40px;
  margin-bottom:20px;
}

[class^="icon-"] {
	font-family: "Open Sans",sans-serif;
	&:before {
		font-family: FontAwesome;
	}
}

.not-alone {
	ul {
		ul {
			margin-top:10px;
			margin-left:30px;
			li {
				position:relative;
				margin-left:-60px;
				margin-bottom:10px;
			}
		}
	}
}

.devicons {
	&.devicons-java {
		top:6px;
	}
	&.devicons-php {
		top:10px;
	}
	&.devicons-python {
		top:10px;
	}
	width: 30px;
	height:30px;
	font-size:40px;
	display:block-inline;
	margin-left:-45px;
	padding-left:10px;
	position:relative;
	&:before {
		margin-right:20px;
	}
}

a[class|=icon] {
	font-size: 1.2em;
	background: none;
	text-decoration: none;
	width:auto !important;
	&:before { margin-right:10px; }
}

.clear-ideas.small {
	ol,ul {
		font-size:.9em;
	}
}

.no-bullet-list.slide {
	ul {
		margin-bottom:50px;
		& > li:before {
			content:'';
		}
	}
  &.resources {
    ul {
      margin-left:-50px;
    }
    a { margin-left:-10px; }
    span { margin-left:60px; }

  }
}

.section {
	h1 {
		margin-top:100px;
		font-size:4em;
		text-align: center;

	}
}

h6 {
	color: #ccc;
	position: absolute;
	top: 50px;
	left: 50px;
}

@font-face {
	font-family: MOHAVE;
	src: url("Mohave.otf") format("opentype");
}

.coverSession, #MainCover {
	& {
		background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px #FFD245;
		//background: url("../img/vueling-logo.png") no-repeat scroll right 220px top 340px #FFD245;
	}
	& > div {
		top: 0;
	}
	/*img {
		position: absolute;
		top: 150px;
		left: 100px;
	}
	*/
	h2, h3, h4, ul li {
		color: #453015;
		font-family: "MOHAVE",Helvetica,Arial,sans-serif;
	}
	h2 {
		position: absolute;
		top: 200px;
    left: 430px;
    font-size: 4em;
    font-weight: bolder;
	}
	.logos {
		position: absolute;
    top: 0;
    border: 1px solid #CCC;
    background: #FFF;
    height: 260px;
    padding: 20px;
    left: 0;
    height: 100%;
    width: 31%;

		& > .box {
			position: absolute;
			top:210px;
			left:55px;
		}
		img {
			margin:10px;
		}
	}
	h3,h4 {
		position: absolute;
    top: 360px;
    left: 35px;
    font-size: 1.5em;
    width: 28%;
    line-height: 39px;
    text-align: center;
    strong {
    	font-size:1.5em;
    }
	}

}

#MainCover {
	ul {
		list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 43px;
    width: 26%;
    line-height: 50px;
    text-align: center;
    background: white;
    height: 100%;
    padding: 50px;
    padding-top: 50px;
    li {
    	margin-bottom: 25px;
    }
	}
}


.slide.tdd {
  border-left: 10px solid $color-tdd;
}

.slide.tdd.kata {
  p, table, ul {
    font-size:18px;
    padding:0;
    display:inline-block;
  }
  p { margin:0 0 20px; }

  ul li {
    width: 45%; padding:8px 10px; float:left; margin:0; line-height:17px; clear:right;
  }

}

.general {
  ol li {
    font-size: 20px;
    line-height: 1.8em;
    span { padding:0 0 0 60px; }
  }
}

.slide.concepts {
  border-left: 10px solid $color-advanced-js;
}

.slide.jquery {
  border-left: 10px solid $color-jquery;
}

.slide.workflow {
  border-left: 10px solid $color-workflow;
  a[class^="icon-"] {
    margin-left: 2em;
  }
  &.exercise {
    span.devicons {
      font-size: 35px;
      &:before {
        top: 9px;
        position: relative;
        right: -24px;
      }
    }
  }
}

.slide.es2015 {
  border-left: 10px solid $color-es2015;
  &.history {
    ul li {
    line-height: 33px;
    font-size: 20px; }
  }
  &.resources {
    ul li {
      line-height: 35px;
      font-size: 22px;
      margin: 10px 0;
    }
    pre { margin-top:40px;}
  }

}

.coverSession {
	&.tdd {
    background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px $color-tdd;
		img[alt="Jasmine Logo"] {
      width: 100px;
      height: 100px;
    }

    img[alt="Javascript Logo"] {
      width: 100px;
      height: 100px;
    }
	}
  &.concepts {
    background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px $color-advanced-js;
    img[alt="Javascript Logo"] {
      margin:-20px 48px;
      height: 150px;
    }
    //h2 { color: #FFF; top:250px; font-size:2.7em;}
  }

  &.jquery {
    background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px $color-jquery;
    img[alt="jQuery Logo"] {
      margin:-20px 48px;
      height: 150px;
    }
    //h2 { color: #FFF; top:250px; font-size:2.7em;}
  }

  &.workflow {
    background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px $color-workflow;

  /*   ![npm Logo](img/workflow/npm.svg)
    ![grunt Logo](img/workflow/grunt.png)
    ![bower Logo](img/workflow/bower.png)
    ![yeoman Logo](img/workflow/yeoman.png)
  <d
   */
    img[alt$="logo"] {
      /* margin:-20px 48px; */
      height: 100px; float:left;
    }
    .box {top:150px;}
    h3 { top:420px;}

  }

  &.es2015 {
    background: url("../img/vueling-in2-transparent.png") no-repeat scroll right 180px top 400px $color-es2015;

  /*   ![npm Logo](img/workflow/npm.svg)
    ![grunt Logo](img/workflow/grunt.png)
    ![bower Logo](img/workflow/bower.png)
    ![yeoman Logo](img/workflow/yeoman.png)
  <d
   */
    h2 { color: $color-es2015-text; }
    img[alt$="logo"] {
      /* margin:-20px 48px; */
      height: 200px; float:left;
    }
    .box { top:150px; left:30px; }
    h3 { top:400px;}
    h4 { top:460px;}
  }


}


.general {
	ol {
		display: flex;
  	flex-direction:column;
		flex-wrap:wrap;
  	li { display: flex; }
  }
}


.what {
	blockquote {
		margin-top:1.2em;
		font-size : 3em;
	}
}

.what2 {
	blockquote {
		margin-top:2em;
		font-size :2em;
	}
}

.what3 {
	blockquote {
		p {
			line-height: 1.5em;
		}
		margin-top:2em;
		font-size :2em;
	}
}

.two-columns-list {

	$max-column-items: 10; /* The maximum number of items a single column can handle.  If a column has more items than the maximum defined here, some items won't display. */
	$line-height: 1.5;
	$list-font-size: 16px;

	ol {
	  position: relative;
	  margin: 0 0 50px;
	  padding: 0;
	  font-size: $list-font-size;
	}

	ol li {
	  position: absolute;
	  margin: 0;
	  padding: 0;
	  width: 50%;
	  list-style-position: inside;
	  line-height: $line-height;
	}

	@for $i from 2 through $max-column-items{
		ol li:nth-child( n+#{$i} ) {
			top: $line-height * ($i - 1) + em; /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
		}
	}

	@for $i from 2 through $max-column-items {
		ol li:nth-child(n+#{$i + 1}):nth-last-child(-n+#{$i}) {
			position: static;
			margin-left: 50%;
		}
	}
}

.slide  {
	ol, ul {
		margin-bottom: 10px;
	}
	p {
		display: inline;
	}
	& {
		background: url("../img/vueling-in2-top-logo-2.png") no-repeat top 25px right 25px #FFF;
		background-size: 15%;
	}

}

.showterm {
	a {
		margin:0;
		float:right;
/*		background: none; */
	}
}

.smallcode  {
	h2 {
		margin-bottom:25px;
	}
	pre {
		margin-left:50px;
		code {
			line-height: 1.3;
			font-size: 18px;
		}
	}
	&.smaller {
		pre code {
			font-size: 12px;
		}
	}
}

/* custom fonts */

@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("custom-juanma-font.eot");
  src:url("custom-juanma-font.eot?#iefix") format("embedded-opentype"),
    url("custom-juanma-font.woff") format("woff"),
    url("custom-juanma-font.ttf") format("truetype"),
    url("custom-juanma-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

/*
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  contents: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
/*
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
.icon-pixelovers:before {
	  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: "a";
}
/*
.icon-t-shirt:before {
  content: "b";
}
.icon-home:before {
  content: "c";
}
.icon-fontawesome-webfont:before {
  content: "d";
}
.icon-linkedin:before {
  content: "e";
}
.icon-twitter:before {
  content: "f";
}
.icon-facebook:before {
  content: "g";
}
.icon-google-plus:before {
  content: "h";
}
.icon-letter-mail:before {
  content: "i";
}
*/
.icon-pixelovers-1:before {
  content: "j";
}