/* VARIABLES */
/* line 10, ../../src/scss/styles.scss */
.clear-ideas-gruntfile.smallcode ul ul li code {
  font-size: 16px; }
/* line 11, ../../src/scss/styles.scss */
.clear-ideas-gruntfile.smallcode pre {
  margin-top: 20px;
  margin-left: 100px; }
  /* line 14, ../../src/scss/styles.scss */
  .clear-ideas-gruntfile.smallcode pre code:before {
    margin: 0; }

/* line 19, ../../src/scss/styles.scss */
#contents h2 {
  margin-bottom: 45px; }
/* line 20, ../../src/scss/styles.scss */
#contents .icon-keyboard:before, #contents .icon-laptop:before {
  margin-left: 52px;
  margin-right: -15px; }

/* line 26, ../../src/scss/styles.scss */
.slide h2 {
  font-size: 40px;
  margin-bottom: 20px; }

/* line 31, ../../src/scss/styles.scss */
[class^="icon-"] {
  font-family: "Open Sans",sans-serif; }
  /* line 33, ../../src/scss/styles.scss */
  [class^="icon-"]:before {
    font-family: FontAwesome; }

/* line 40, ../../src/scss/styles.scss */
.not-alone ul ul {
  margin-top: 10px;
  margin-left: 30px; }
  /* line 43, ../../src/scss/styles.scss */
  .not-alone ul ul li {
    position: relative;
    margin-left: -60px;
    margin-bottom: 10px; }

/* line 52, ../../src/scss/styles.scss */
.devicons {
  width: 30px;
  height: 30px;
  font-size: 40px;
  display: block-inline;
  margin-left: -45px;
  padding-left: 10px;
  position: relative; }
  /* line 53, ../../src/scss/styles.scss */
  .devicons.devicons-java {
    top: 6px; }
  /* line 56, ../../src/scss/styles.scss */
  .devicons.devicons-php {
    top: 10px; }
  /* line 59, ../../src/scss/styles.scss */
  .devicons.devicons-python {
    top: 10px; }
  /* line 69, ../../src/scss/styles.scss */
  .devicons:before {
    margin-right: 20px; }

/* line 76, ../../src/scss/styles.scss */
a[class|=icon] {
  font-size: 1.2em;
  background: none;
  text-decoration: none;
  width: auto !important; }
  /* line 81, ../../src/scss/styles.scss */
  a[class|=icon]:before {
    margin-right: 10px; }

/* line 85, ../../src/scss/styles.scss */
.clear-ideas.small ol, .clear-ideas.small ul {
  font-size: .9em; }

/* line 91, ../../src/scss/styles.scss */
.no-bullet-list.slide ul {
  margin-bottom: 50px; }
  /* line 93, ../../src/scss/styles.scss */
  .no-bullet-list.slide ul > li:before {
    content: ''; }
/* line 98, ../../src/scss/styles.scss */
.no-bullet-list.slide.resources ul {
  margin-left: -50px; }
/* line 99, ../../src/scss/styles.scss */
.no-bullet-list.slide.resources a {
  margin-left: -10px; }
/* line 100, ../../src/scss/styles.scss */
.no-bullet-list.slide.resources span {
  margin-left: 60px; }

/* line 105, ../../src/scss/styles.scss */
.section h1 {
  margin-top: 100px;
  font-size: 4em;
  text-align: center; }

/* line 113, ../../src/scss/styles.scss */
h6 {
  color: #ccc;
  position: absolute;
  top: 50px;
  left: 50px; }

@font-face {
  font-family: MOHAVE;
  src: url("Mohave.otf") format("opentype"); }
/* line 125, ../../src/scss/styles.scss */
.coverSession, #MainCover {
  /*img {
  	position: absolute;
  	top: 150px;
  	left: 100px;
  }
  */ }
  /* line 126, ../../src/scss/styles.scss */
  .coverSession, #MainCover {
    background: url("../img/vueling-transparent.png") no-repeat scroll right 320px top 400px #FFD245; }
  /* line 130, ../../src/scss/styles.scss */
  .coverSession > div, #MainCover > div {
    top: 0; }
  /* line 139, ../../src/scss/styles.scss */
  .coverSession h2, .coverSession h3, .coverSession ul li, #MainCover h2, #MainCover h3, #MainCover ul li {
    color: #453015;
    font-family: "MOHAVE",Helvetica,Arial,sans-serif; }
  /* line 143, ../../src/scss/styles.scss */
  .coverSession h2, #MainCover h2 {
    position: absolute;
    top: 200px;
    left: 430px;
    font-size: 4em;
    font-weight: bolder; }
  /* line 150, ../../src/scss/styles.scss */
  .coverSession .logos, #MainCover .logos {
    position: absolute;
    top: 0;
    border: 1px solid #CCC;
    background: #FFF;
    height: 260px;
    padding: 20px;
    left: 0;
    height: 100%;
    width: 31%; }
    /* line 161, ../../src/scss/styles.scss */
    .coverSession .logos > .box, #MainCover .logos > .box {
      position: absolute;
      top: 210px;
      left: 55px; }
    /* line 166, ../../src/scss/styles.scss */
    .coverSession .logos img, #MainCover .logos img {
      margin: 10px; }
  /* line 170, ../../src/scss/styles.scss */
  .coverSession h3, #MainCover h3 {
    position: absolute;
    top: 360px;
    left: 35px;
    font-size: 1.5em;
    width: 28%;
    line-height: 39px;
    text-align: center; }
    /* line 178, ../../src/scss/styles.scss */
    .coverSession h3 strong, #MainCover h3 strong {
      font-size: 1.5em; }

/* line 186, ../../src/scss/styles.scss */
#MainCover ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 43px;
  width: 26%;
  line-height: 50px;
  text-align: center;
  background: white;
  height: 100%;
  padding: 50px;
  padding-top: 80px; }
  /* line 199, ../../src/scss/styles.scss */
  #MainCover ul li {
    margin-bottom: 25px; }

/* line 206, ../../src/scss/styles.scss */
.slide.tdd {
  border-left: 10px solid #34A853; }

/* line 211, ../../src/scss/styles.scss */
.slide.tdd.kata p, .slide.tdd.kata table, .slide.tdd.kata ul {
  font-size: 18px;
  padding: 0;
  display: block; }
/* line 216, ../../src/scss/styles.scss */
.slide.tdd.kata p {
  margin: 0 0 20px; }
/* line 218, ../../src/scss/styles.scss */
.slide.tdd.kata ul li {
  width: 45%;
  padding: 10px;
  float: left;
  margin: 0;
  line-height: 20px; }

/* line 225, ../../src/scss/styles.scss */
.contents.general ol li {
  font-size: 20px; }
  /* line 227, ../../src/scss/styles.scss */
  .contents.general ol li span {
    padding: 0 0 0 60px; }

/* line 231, ../../src/scss/styles.scss */
.slide.concepts {
  border-left: 10px solid #EA4335; }

/* line 235, ../../src/scss/styles.scss */
.slide.jquery {
  border-left: 10px solid #0769AD; }

/* line 240, ../../src/scss/styles.scss */
.coverSession.tdd {
  background: url("../img/vueling-transparent.png") no-repeat scroll right 320px top 400px #34A853; }
  /* line 242, ../../src/scss/styles.scss */
  .coverSession.tdd img[alt="Jasmine Logo"] {
    width: 100px;
    height: 100px; }
  /* line 247, ../../src/scss/styles.scss */
  .coverSession.tdd img[alt="Javascript Logo"] {
    width: 100px;
    height: 100px; }
/* line 252, ../../src/scss/styles.scss */
.coverSession.concepts {
  background: url("../img/vueling-transparent.png") no-repeat scroll right 320px top 400px #EA4335; }
  /* line 254, ../../src/scss/styles.scss */
  .coverSession.concepts img[alt="Javascript Logo"] {
    margin: -20px 48px;
    height: 150px; }
/* line 261, ../../src/scss/styles.scss */
.coverSession.jquery {
  background: url("../img/vueling-transparent.png") no-repeat scroll right 320px top 400px #0769AD; }
  /* line 263, ../../src/scss/styles.scss */
  .coverSession.jquery img[alt="jQuery Logo"] {
    margin: -20px 48px;
    height: 150px; }

/* line 274, ../../src/scss/styles.scss */
#contents.general ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  /* line 278, ../../src/scss/styles.scss */
  #contents.general ol li {
    display: flex; }

/* line 285, ../../src/scss/styles.scss */
.what blockquote {
  margin-top: 1.2em;
  font-size: 3em; }

/* line 292, ../../src/scss/styles.scss */
.what2 blockquote {
  margin-top: 2em;
  font-size: 2em; }

/* line 299, ../../src/scss/styles.scss */
.what3 blockquote {
  margin-top: 2em;
  font-size: 2em; }
  /* line 300, ../../src/scss/styles.scss */
  .what3 blockquote p {
    line-height: 1.5em; }

/* line 308, ../../src/scss/styles.scss */
.two-columns-list {
  /* The maximum number of items a single column can handle.  If a column has more items than the maximum defined here, some items won't display. */ }
  /* line 314, ../../src/scss/styles.scss */
  .two-columns-list ol {
    position: relative;
    margin: 0 0 50px;
    padding: 0;
    font-size: 16px; }
  /* line 321, ../../src/scss/styles.scss */
  .two-columns-list ol li {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50%;
    list-style-position: inside;
    line-height: 1.5; }
  /* line 331, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+2) {
    top: 1.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 331, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+3) {
    top: 3em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 331, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+4) {
    top: 4.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 331, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+5) {
    top: 6em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 331, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+6) {
    top: 7.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 331, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+7) {
    top: 9em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 331, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+8) {
    top: 10.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 331, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+9) {
    top: 12em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 331, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+10) {
    top: 13.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 337, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+3):nth-last-child(-n+2) {
    position: static;
    margin-left: 50%; }
  /* line 337, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+4):nth-last-child(-n+3) {
    position: static;
    margin-left: 50%; }
  /* line 337, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+5):nth-last-child(-n+4) {
    position: static;
    margin-left: 50%; }
  /* line 337, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+6):nth-last-child(-n+5) {
    position: static;
    margin-left: 50%; }
  /* line 337, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+7):nth-last-child(-n+6) {
    position: static;
    margin-left: 50%; }
  /* line 337, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+8):nth-last-child(-n+7) {
    position: static;
    margin-left: 50%; }
  /* line 337, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+9):nth-last-child(-n+8) {
    position: static;
    margin-left: 50%; }
  /* line 337, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+10):nth-last-child(-n+9) {
    position: static;
    margin-left: 50%; }
  /* line 337, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+11):nth-last-child(-n+10) {
    position: static;
    margin-left: 50%; }

/* line 345, ../../src/scss/styles.scss */
.slide ol, .slide ul {
  margin-bottom: 10px; }
/* line 348, ../../src/scss/styles.scss */
.slide p {
  display: inline; }
/* line 351, ../../src/scss/styles.scss */
.slide {
  background: url("../img/vueling-logo.jpg") no-repeat top 25px right 25px #FFF;
  background-size: 10%; }

/* line 359, ../../src/scss/styles.scss */
.showterm a {
  margin: 0;
  float: right;
  /*		background: none; */ }

/* line 367, ../../src/scss/styles.scss */
.smallcode h2 {
  margin-bottom: 25px; }
/* line 370, ../../src/scss/styles.scss */
.smallcode pre {
  margin-left: 50px; }
  /* line 372, ../../src/scss/styles.scss */
  .smallcode pre code {
    line-height: 1.5;
    font-size: 14px; }
/* line 378, ../../src/scss/styles.scss */
.smallcode.smaller pre code {
  font-size: 12px; }

/* custom fonts */
@font-face {
  font-family: "untitled-font-1";
  src: url("custom-juanma-font.eot");
  src: url("custom-juanma-font.eot?#iefix") format("embedded-opentype"), url("custom-juanma-font.woff") format("woff"), url("custom-juanma-font.ttf") format("truetype"), url("custom-juanma-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
/*
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
/* line 429, ../../src/scss/styles.scss */
.icon-pixelovers:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "a"; }

/*
.icon-t-shirt:before {
  content: "b";
}
.icon-home:before {
  content: "c";
}
.icon-fontawesome-webfont:before {
  content: "d";
}
.icon-linkedin:before {
  content: "e";
}
.icon-twitter:before {
  content: "f";
}
.icon-facebook:before {
  content: "g";
}
.icon-google-plus:before {
  content: "h";
}
.icon-letter-mail:before {
  content: "i";
}
*/
/* line 468, ../../src/scss/styles.scss */
.icon-pixelovers-1:before {
  content: "j"; }
